<h2>Comandos a ejecutar:</h2>
<form>
    <input type='text' name='comandos_ingresados'>
    <input type='submit' value='Iniciar'>
</form>

<!-- 
<label>Posicion Inicial: </label><br/>
<label>Comandos: </label><br/>
<label>Posicion Final: </label><br/>
-->