<h2>Comandos a ejecutar:</h2>

<form method="post" action="/inicio">
    <input type='text' name='comandos_ingresados'>
    <input type='submit' value='ejecutar'>
</form>
<label>Posicion Inicial: <%=@posicion_inicial%></label><br/>
<label>Comandos: <%=@comandos%></label><br/>
<label>Posicion Final: <%=@posicion_final%></label><br/>
